@model IEnumerable<StudentManagement.v0._04.Models.Enrollment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TaughtYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaughtSemester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GradePoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.FirstN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject.SubjectName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TaughtYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaughtSemester)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GradePoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.FirstN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject.SubjectName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdEnrollment }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdEnrollment }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdEnrollment })
        </td>
    </tr>
}

</table>
