@model StudentManagement.v0._03.Models.StudentSeniority

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentSeniority</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Years)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Years)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idSeniority }) |
    @Html.ActionLink("Back to List", "Index")
</p>
