@model IEnumerable<StudentManagement.v0._03.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idGender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idDept)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idGender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idDept)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idTitle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.idStudent }) |
            @Html.ActionLink("Details", "Details", new { id = item.idStudent }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.idStudent }) |
            @Html.ActionLink("View Report", "ViewReport", new { id = item.idStudent })
        </td>
    </tr>
}

</table>
