@model IEnumerable<StudentManagement.v0._03.Models.Student>

@{
    ViewBag.Title = "Index";
}

@using GridMvc.Html

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
        <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
        <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
        <title>Index</title>
    </head>
</head>
<body>
    <h1>Grid.MVC</h1>
    <hr />
    <div style="width:500px;">
        @Html.Grid(Model).Columns(columns =>
   {
       columns.Add(c => c.idStudent).Titled("Student ID");
       columns.Add(c => c.FirstName).Titled("First Name").Filterable(true);
       columns.Add(c => c.MiddleName).Titled("Middle Name").Filterable(true);
       columns.Add(c => c.LastName).Titled("Last Name").Filterable(true);
       columns.Add(c => c.idDept).Titled("Dept ID").Filterable(true);
       columns.Add(c => c.idGender).Titled("Gender ID").Filterable(true);

       columns.Add().
            Encoded(false).
            Sanitized(false).
            SetWidth(30).
            RenderValueAs(c => Html.ActionLink("Details", "Details", new { id = c.idStudent }, new { @class = "btn btn-info" }));
   }).WithPaging(15).Sortable(true)
    </div>

</body>
</html>



