@model StudentManagement.v0._04.Models.StdTitle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StdTitle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearNumb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearNumb)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTitle }) |
    @Html.ActionLink("Back to List", "Index")
</p>
